.busdata {
    list-style: none;
    font-family: 'Quicksand', sans-serif;
}

.itemcontainer {
    width: 100%;
    height: 3em;
    margin-left: 1em;
    display: flex;
    align-items: center;
}

.items {
    display: flex;
}

.expand-arrow {
    margin-left: auto;
    margin-right: 2em;
    transition: transform 0.2s;
}

.expand-arrow:hover {
    cursor: pointer;
}

.rotated {
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
}

.bus-background-one {
    background-color: rgba(39, 180, 86, 0.4);
}

.bus-background-two {
    background-color: rgba(85, 242, 144, 0.4);
}